@use 'variables' as var;

// Background colors
@each $name, $color in var.$colors {
    .mz-colors--#{$name} {
        background-color: $color;
    }
}

// Text colors
@each $name, $color in var.$colors {
    .mz-colors-text--#{$name} {
        color: $color;
    }
}

// Border colors
@each $name, $color in var.$colors {
    .mz-colors-border--#{$name} {
        border-color: $color;
    }
}
