@use '../variables' as var;
@use '../mixins' as mix;

@use 'responsiveness';

.mz-shadow {
    box-shadow: var.$card-shadow;
}

.mz-border--outline {
    border: var.$outline-border;
}

.mz-border--top {
    border-top: var.$outline-border;
}

.mz-border--right,
.mz-border--vertical-inside:not(:last-child) {
    border-right: var.$outline-border;
}

.mz-border--bottom,
.mz-border--horizontal-inside:not(:last-child) {
    border-bottom: var.$outline-border;
}

.mz-border--left {
    border-left: var.$outline-border;
}

.mz-rounded--sm {
    border-radius: 4px;
}

.mz-rounded--lg {
    border-radius: 8px;
}

.mz-rounded--circle {
    border-radius: 50%;
}

.mz-rounded--pill {
    border-radius: 50px;
}

.mz-no-scrollbar {
    overflow: hidden !important;
}

.mz-no-margin {
    margin: 0 !important;
}

.mz-no-padding {
    padding: 0 !important;
}

.mz-no-border {
    border: none !important;
}

.mz-divider-horizontal {
    width: 100%;
    margin: 8px 0;
    height: initial;
    border-top: var.$outline-border;
}

.mz-divider-vertical {
    height: 100%;
    margin: 0 8px;
    border-left: var.$outline-border;
}

.mz-clickable {
    cursor: pointer;
    @include mix.action-display-1;
}
