@use '../variables' as var;

@media only screen and (max-width: var.$layout-screen-size-threshold) {
    .mz-screen-large {
        display: none !important;
    }

    @if var.$include-responsive-modifiers {
        .mz-shadow--screen-small {
            box-shadow: var.$card-shadow;
        }

        .mz-border--outline--screen-small {
            border: var.$outline-border;
        }

        .mz-border--top--screen-small {
            border-top: var.$outline-border;
        }

        .mz-border--right--screen-small {
            border-right: var.$outline-border;
        }

        .mz-border--bottom--screen-small {
            border-bottom: var.$outline-border;
        }

        .mz-border--left--screen-small {
            border-left: var.$outline-border;
        }

        .mz-no-scrollbar--screen-small {
            overflow: hidden !important;
        }

        .mz-no-margin--screen-small {
            margin: 0 !important;
        }

        .mz-no-padding--screen-small {
            padding: 0 !important;
        }

        .mz-no-border--screen-small {
            border: none !important;
        }
    }
}

@media only screen and (min-width: var.$layout-screen-size-threshold + 1px) {
    .mz-screen-small {
        display: none !important;
    }

    @if var.$include-responsive-modifiers {
        .mz-shadow--screen-large {
            box-shadow: var.$card-shadow;
        }

        .mz-border--outline--screen-large {
            border: var.$outline-border;
        }

        .mz-border--top--screen-large {
            border-top: var.$outline-border;
        }

        .mz-border--right--screen-large {
            border-right: var.$outline-border;
        }

        .mz-border--bottom--screen-large {
            border-bottom: var.$outline-border;
        }

        .mz-border--left--screen-large {
            border-left: var.$outline-border;
        }

        .mz-no-scrollbar--screen-large {
            overflow: hidden !important;
        }

        .mz-no-margin--screen-large {
            margin: 0 !important;
        }

        .mz-no-padding--screen-large {
            padding: 0 !important;
        }

        .mz-no-border--screen-large {
            border: none !important;
        }
    }
}
