@use '../variables' as var;
@use '../mixins' as mix;

.mz-collapse {
    &:not(.is-visible):not(.collapsing) {
        display: none;
    }

    &.collapsing {
        height: 0;
        overflow: hidden;
        transition-property: height;
        transition-duration: var.$box-transition-duration;
        transition-timing-function: var.$box-transition-function;
    }
}

.mz-tab-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .mz-navigation-link {
        padding: 0 24px;
        height: 48px;
        line-height: 48px;
        white-space: nowrap;
        width: auto;
        @include mix.action-display-1;
    }
}
