@use '../variables' as var;
@use '../mixins' as mix;

.mz-badge {
    height: 22px;
    min-width: 22px;
    display: inline-flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 0 6px;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include mix.typo-box($fontSize: 12px);

    &.mz-rounded--circle {
        width: 22px;
    }

    .material-icons {
        font-size: inherit;
    }
}

.mz-badge--overlap {
    position: relative;

    .mz-badge {
        position: absolute;
        margin: 0;
        top: -11px;
        right: -10px;
    }
}
