@use '../variables' as var;
@use '../mixins' as mix;

.mz-layout {
    &.mz-layout--desktop-drawer-button {
        .mz-layout-drawer-button {
            display: block;
        }
    }

    &.mz-layout--no-drawer-button {
        .mz-layout-drawer-button {
            display: none !important;
        }
    }

    &.mz-layout--header-fixed {
        .mz-layout-header {
            position: fixed;
            top: 0;
        }

        .mz-layout-content {
            padding-top: var.$layout-desktop-header-height;
        }
    }

    @if var.$layout-non-standard-positions {
        &.mz-layout--header-fixed-bottom {
            .mz-layout-header {
                position: fixed;
                bottom: 0;
            }

            .mz-layout-content {
                padding-bottom: var.$layout-desktop-header-height;
            }
        }
    }

    &.mz-layout--header-sticky {
        .mz-layout-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    }
}

.mz-layout-obfuscator {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background-color: var.$layout-obfuscator-color;
    position: fixed;
    transition-property: opacity, visibility;
    transition-duration: var.$layout-transition-duration;
    transition-timing-function: var.$layout-transition-function;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is-visible {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
}

.mz-layout-title {
    display: block;
    @include mix.typo-title;
    font-weight: 400;
}

.mz-layout-spacer {
    flex-grow: 1;
}

.mz-navigation {
    display: flex;
    flex-wrap: nowrap;
}

.mz-navigation-link {
    display: flex;
    align-items: center;
    color: var.$layout-header-text-color;
    text-decoration: none;
    user-select: none;
    margin: 0;
    @include mix.typo-menu;

    // Align icons inside link with text
    & .material-icons {
        vertical-align: middle;
    }

    &.mz-item-active {
        background-color: var.$item-active-color;
    }
}
