@use '../variables' as var;
@use '../mixins' as mix;

.mz-layout-header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    min-height: var.$layout-desktop-header-height;
    max-height: 1000px;
    width: 100%;
    z-index: 3;
    margin: 0;
    padding: 0;
    border: none;
    color: var.$layout-header-text-color;
    background-color: var.$layout-header-color;

    .mz-layout-header-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin: 0;
        padding: var.$layout-header-desktop-gutters;
        height: var.$layout-header-desktop-row-height;
        box-sizing: border-box;
        align-self: stretch;
        align-items: center;

        & > * {
            flex-shrink: 0;
        }

        & .mz-navigation {
            margin: 0;
            padding: 0;
            height: var.$layout-header-desktop-row-height;
            flex-direction: row;
            align-items: center;
        }

        & .mz-navigation-link {
            color: inherit;
            height: 100%;
            line-height: var.$layout-header-desktop-row-height;
            padding: var.$layout-navigation-desktop-link-padding;
            @if var.$action-display-header-navigation {
                @include mix.action-display-1;
            }
        }
    }

    // Drawer button
    .mz-layout-drawer-button {
        display: none;
        border: 0;
        outline: none;
        margin-left: -28px;
        margin-right: 20px;
        flex-shrink: 0;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        padding: 12px;
        user-select: none;
        @if var.$action-display-drawer-button {
            @include mix.action-display-1;
        }
    }
}
